@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('./fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
  font-display: swap; 
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('./fonts/NotoSansKR-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
  font-display: swap; 
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('./fonts/NotoSansKR-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
  font-display: swap; 
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('./fonts/NotoSansKR-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
  font-display: swap; 
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('./fonts/NotoSansKR-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
  font-display: swap; 
}

html, body, #root {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

